@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');

$white: #FFFFFF;
$light: #FFE298;
$medium: #FFD05A;
$bright: #EC9F29;
$black: #000000;

$text-white: $white;
$text-light: #FFE298;
$text-medium: #FFD05A;
$text-bright: #EC9F29;
$text-black: $black;

$shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0px;

$font-body: 'Roboto', sans-serif;
$font-header: 'Inter', sans-serif;