@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');

$white: #FFFFFF;
$light: #A0C0E4;
$medium: #F1355B;
$bright: #5b0d71;
$vivid_purple:#6f42c1;
$indigo: #6610f2;
$black: #280738;
$devcolor: #fcb900;

$text-white: $white;
$text-light: #FFE298;
$text-medium: #FFD05A;
$text-bright: #EC9F29;
$text-purple: #5b0d71;;
$text-black: $black;

$shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0px;

$font-body: 'Roboto', sans-serif;
$font-header: 'Inter', sans-serif;