@use '../styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700');

.logo {
  // width: 250px;
  // height: 100%;
  // float: inline-start;
  // align-self:flex-start;
  font-family: Cinzel Decorative;
  font-size: 28px;
}

.footer {
  height: 10%;
  display: flex; 
  // justify-content: space-between; 
  text-align: center;
 justify-content: center;
  gap: 1em; 
  padding: 10px; 
  background-color: theme.$black; 
  margin: 0;
  // color: theme.$white;
  // font-size: 1.1rem; 
  // font-weight: bolder; 
  // white-space: nowrap;  
}

h3 { 
  font-size: 0.75rem; 
  color: theme.$medium;
  text-align: center;
  float: center;
}

.links {
  display: flex; 
  justify-content: space-around;  
  gap: 48px;
  margin-right: 0px; 
  color: theme.$medium; text-decoration: none;
  float: inline-end;
  text-align: right;
}

a:link{
  display: flex; 
  justify-content: space-around;  
  gap: 48px;
  margin-right: 0px; 
  color: #F1355B; 
  text-decoration: none;
  float: inline-end;
}

a:visited{
  display: flex; 
  justify-content: space-around;  
  gap: 48px;
  margin-left: 0px; 
  color: #F1355B; 
  text-decoration: none;
  float: inline-end;
}

.footer_pattern{
 width: 20%;
height: 1rem;
opacity: 0.6;}
