@use '../styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Special+Elite&display=swap');



.container {
  display:flex;
  text-align: center; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

.containerRow {
  justify-content: center;
  display:flex;
  text-align: center; 
  flex-direction: row;
  flex-wrap:wrap;
}

.heading {
  margin: 0px 0px 15px 0px; font-size: 4.5rem;
  @media only screen and (max-width: 1199px) { font-size: 4rem; }
  @media only screen and (max-width: 767px) { font-size: 3.5rem; }
  text-align: center;
  align-items: center;
  font-family: 'Cinzel Decorative'

}

.headingSmall {
  margin: -10px 0px -20px 0px; 
  text-align: center;
  align-items: center;

}


.image { 
  max-width: 90vw;
  max-height: 50vh; 
  border-radius: 15px;
  width:800px;
  margin-bottom: 5vw;
  margin-right: 5vw;
  margin-left: 5vw;
  // transition-duration: 200ms;
}

// .image:hover {
//   transform: translateY(-3px); transition-duration: 200ms;
//   box-shadow: theme.$shadow;
// }

.button {
  background-color: theme.$bright;  border: 0; border-radius: 8px;
  box-shadow: theme.$shadow;
  color: theme.$black; font-size: 1.5rem; font-weight: bold;
  transition-duration: 200ms;
}

.button:hover {
  transform: translateY(-3px); transition-duration: 200ms;
  box-shadow: theme.$shadow;
}
