@use '../styles/theme';

.navbar {
  display: flex; justify-content: space-between; align-items: baseline;
  gap: 8px; padding: 26px 40px 30px 50px; background-color: theme.$black; color: theme.$white;
  font-size: 1.1rem; font-weight: bolder; white-space: nowrap;  
}

.title { font-size: 2rem; color: theme.$medium  }

.links {
  display: flex; justify-content: space-around; gap: 48px;
  margin-left: 48px;
}