@use '../styles/theme';

.navbar {
  display: flex; justify-content: space-between; align-items: center;
  gap: 8px; padding: 24px; background-color: theme.$bright; color: theme.$black;
  font-size: 1.2rem; font-weight: bolder; white-space: nowrap;  
}

.title { font-size: 2rem; }

.links {
  display: flex; justify-content: space-around; gap: 48px;
  margin-left: 48px;
}