@use '../styles/theme';

.container { 
  margin: auto;
  display: flex;
  max-width: 1024px;
  margin-top: 100px;
}

.textbox {
  padding-left: 40px;
}

.heading {
  font-size: 4rem;
  margin-top: 0;
  @media only screen and (max-width: 1199px) { font-size: 2.5rem; }
  @media only screen and (max-width: 767px) { font-size: 2rem; }
}

.image { 
  height: 60vh;
  width: auto;
  border-radius: 8px; 
  transition-duration: 200ms;
  object-fit: cover;
}

.image:hover {
  transform: translateY(-3px); transition-duration: 200ms;
  box-shadow: theme.$shadow;
}

.list {
  padding-left: 0;
  list-style-type: none;
}